# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.env*
coverage/
dist/
.next/
.npm/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Ll]ogs/
*.wixobj

# Shared
.vscode/